@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    --info-col: #087990;
    --info-bg-col: #9eeaf9;
    --success-col: #146c43;
    --success-bg-col: #a3cfbb;
    --warning-col: #997404;
    --warning-bg-col: #ffe69c;
    --error-col: #b02a37;
    --error-bg-col: #f1aeb5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #7b2182;
}

header nav {
    width: 15%;
    height: 85vh;
    position: absolute;
    top: 10vh;
    background-color: #595959;
}

header nav ul {
    margin-top: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-left: 10%;
    list-style: none;
}

header,
footer {
    color: #bbbbbb;
}

header .brand {
    margin-top: 1vh;
    margin-left: 1%;
    height: 8vh;
    text-align: center;
}

header .brand img {
    height: 100%;
}

header nav a, header nav strong {
    color: #bbbbbb;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
    color: white;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: #7b2182;
}

footer span {
    margin-left: 1%;
    line-height: 5vh;
    vertical-align: middle;
}

main {
    margin-left: 15%;
    width: 85%;
    height: 85vh;
    padding: 2% 0;
    overflow-y: scroll;
}

main article {
    text-align: center;
}

section {
    width: 50%;
    margin: 0 auto;
}

h1,
h2 {
    padding-bottom: 5%;
    text-align: center;
    color: #333;
}

h1,
article {
    width: 80%;
    margin: 0 auto;
}

form {
    margin: 0 auto;
}

#signup-form,
#signin-form,
#book-create-form,
#book-update-form,
#book-delete-form,
#book-search-form {
    width: 50%;
}

#contact-form,
#language-form {
    width: 70%;
}

form,
article {
    padding: 10% 5%;
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 .5rem #666);
}

main article {
    padding: 5%;
}

main h2 {
    padding: 0;
}

main h2 + form {
    margin-top: 1%;
}

form {
    padding: 5% 0;
}

fieldset {
    border: none;
    padding: 5%;
}

legend {
    font-weight: bold;
    text-align: center;
}

form div {
    margin-bottom: 1.5%;
}

form div:last-of-type {
    margin-bottom: 0;
}

form .buttons-only {
    text-align: center;
}

form .required sup:after {
    content: '✱';
    margin-left: 1%;
    color: var(--error-col);
}

label {
    margin-left: 10%;
    width: 30%;
    display: inline-block;
}

input,
textarea,
select {
    padding: 5px;
    border: 1px solid #666;
    border-radius: 0.375rem;
}

input:not([type='submit'], [type='reset']),
textarea,
select {
    width: 50%;
}

textarea {
    height: 100px;
}

label.lbl-textarea {
    vertical-align: top;
}

input[type='submit'], input[type='reset'] {
    padding: 1%;
    /*font-weight: bold;*/
    font-size: 1.1em;
}

input[type='reset'] {
    margin-left: 2%;
}

p {
    text-align: center;
    padding: 3% 0;
}

li {
    padding: 2% 0;
}

ul.operation {
    list-style-type: none;
}

li > ul.operation {
    display: inline-block;
}

ul.operation li {
    display: inline-block;
}

ul.operation li:nth-of-type(2) {
    margin: 0 10px;
}

ul.read-detail {
    text-align: left;
}

ul.read-detail li span {
    font-weight: bold;
}

/*
 * Specific messages
 */
ul.error {
    text-align: left;
    padding-left: 5%;
}

ul.error li {
    padding: 1% 0;
}

/*
 * Standard messages
 */

.info,
.success,
.warning,
.error {
    border: 1px solid;
    border-radius: 0.375rem;
    padding: 2%;
}

.info {
    background-color: var(--info-bg-col);
    color: var(--info-col);
    border-color: var(--info-col);
}

.success {
    background-color: var(--success-bg-col);
    color: var(--success-col);
    border-color: var(--success-col);
}

.warning {
    background-color: var(--warning-bg-col);
    color: var(--warning-col);
    border-color: var(--warning-col);
}

.error {
    background-color: var(--error-bg-col);
    color: var(--error-col);
    border-color: var(--error-col);
}

.txt-info {
    color: var(--info-col);
}

.txt-success {
    color: var(--success-col);
}

.txt-warning {
    color: var(--warning-col);
}

.txt-error {
    color: var(--error-col);
}

/*
 * Tables
 */

table {
    margin: 5% auto 0 auto;
}

table,
th,
td {
    border: 1px solid #666666;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

.half {
    width: 50%;
}

/*
 * Icons, symbols, and pictograms
 */

.crud-picto {
    height: 20px;
    width: 20px;
}

.crud-create-picto {
    position: relative;
    top: 5px;
    left: 10px;
    height: 30px;
}